
.container{
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFB036;
    justify-content: center;
    padding: 20px;
    border-radius: 8px; 
    height: 70vh;
 
    border-left: ridge 30px;
    border-color:#eb5a0075;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)
   
 
  
   
   
  }

.label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

  .input{
    width: 30%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: #31302f;
    font-size: 15px;;
   text-align: center;
    background-color: #dbd6d6;
  
  }
  

  .button{
    text-transform: uppercase;
    background-color: #EB5B00;
  }
  
  .resultado {
    
    text-align: center;
    font-size: 22px;
    box-shadow: 07px 5px #EB5B00;
    background-color: #dbd6d6;
  }